<a href="https://colab.research.google.com/github/Joezxc/BSU-Joe/blob/main/Chapter_5_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Exercise 1
person = {'First Name': 'Scottie', 'Last Name': 'Barnes', 'Age':'21', 'Place':'Florida'}

print(person)

print(person['First Name'])

print(person['Last Name'])

print(person['Age'])

print(person['Place'])

{'First Name': 'Scottie', 'Last Name': 'Barnes', 'Age': '21', 'Place': 'Florida'}
Scottie
Barnes
21
Florida

In [12]:
# Exercise 2

glossary = {
   'strings': 'Sequence of characters, either as a literal constant or as some kind of variable.',
  'float': 'A variable type that is used to store floating point number values.',
  'print': 'To print objects to the text stream file seperated by sep and followed by the end.',
  'if': 'Compound statements contains groups of other statements.',
  'else': 'Statement is an alternative statement that is executed if the result of a previous test condition evaluates to false.',
}

word = 'strings'

print(f"\n{word.title()}: {glossary[word]}")

word = 'float'

print(f"\n{word.title()}: {glossary[word]}")

word = 'print'

print(f"\n{word.title()}: {glossary[word]}")

word = 'if'

print(f"\n{word.title()}: {glossary[word]}")

word = 'else'

print(f"\n{word.title()}: {glossary[word]}")

Strings: Sequence of characters, either as a literal constant or as some kind of variable.

Float: A variable type that is used to store floating point number values.

Print: To print objects to the text stream file seperated by sep and followed by the end.

If: Compound statements contains groups of other statements.

Else: Statement is an alternative statement that is executed if the result of a previous test condition evaluates to false.

In [14]:
# Exercise 3

glossary = {
  'strings': 'Sequence of characters, either as a literal constant or as some kind of variable.',
  'float': 'A variable type that is used to store floating point number values.',
  'print': 'To print objects to the text stream file seperated by sep and followed by the end.',
  'if': 'Compound statements contains groups of other statements.',
  'else': 'Statement is an alternative statement that is executed if the result of a previous test condition evaluates to false.',
  'elif': 'Short of else if, used to execute continuous chain of conditional logic ladder.',
  'bug': 'A mistake program.',
  'functions': 'Way of thinking about software construction by creating pure functions.',
  'syntax': 'Grammatical rules of a programming language.',
  'value': 'A piece of data that can be contained inside a variable'
}

for word, definition in glossary.items():
        print(f"\n{word.title()}: {definition}")

Strings: Sequence of characters, either as a literal constant or as some kind of variable.

Float: A variable type that is used to store floating point number values.

Print: To print objects to the text stream file seperated by sep and followed by the end.

If: Compound statements contains groups of other statements.

Else: Statement is an alternative statement that is executed if the result of a previous test condition evaluates to false.

Elif: Short of else if, used to execute continuous chain of conditional logic ladder.

Bug: A mistake program.

Functions: Way of thinking about software construction by creating pure functions.

Syntax: Grammatical rules of a programming language.

Value: A piece of data that can be contained inside a variable

In [29]:
# Exercise 4

Rivers = {
    ' Nile' : 'India',
    ' Amazon' : 'South America',
    ' Jordan' : 'Jordan',
    ' Danube' : 'Europe',
    ' Mekong' : 'China',
}

for river, country in Rivers.items():
    print(f"The{river.title()} flows through {country.title()}.")

print("\nThe following rivers are included in this data set:")
for river in Rivers.keys():
  print(f"-{river.title()}")

print("\nThe following countries are included in this data set:")
for country in Rivers.values():
  print(f"-{country.title()}")

The Nile flows through India.
The Amazon flows through South America.
The Jordan flows through Jordan.
The Danube flows through Europe.
The Mekong flows through China.

The following rivers are included in this data set:
- Nile
- Amazon
- Jordan
- Danube
- Mekong

The following countries are included in this data set:
-India
-South America
-Jordan
-Europe
-China

In [30]:
# Exercise 5

pets = []

pet = {
    'animal type': 'lion',
    'name' : 'Kitty',
    'owner' : 'Farouq',
    'weight' : '185',
    'eats' : 'Meat',
}
pets.append(pet)

pet = {
    'animal type': 'tiger',
    'name' : 'Cookie',
    'owner' : 'Ahmed',
    'weight' : '250',
    'eats' : 'Steak',
}
pets.append(pet)

pet = {
    'animal type': 'Alligator',
    'name' : 'Ali',
    'owner' : 'Hasbulla',
    'weight' : '450',
    'eats' : 'Whole Chicken',
}
pets.append(pet)

for pet in pets:
    print(f"nHere's what I know about {pet['name'].title()}:")
    for key, value in pet.items():
      print(f"\t {key}: {value}")

nHere's what I know about Kitty:
	 animal type: lion
	 name: Kitty
	 owner: Farouq
	 weight: 185
	 eats: Meat
nHere's what I know about Cookie:
	 animal type: tiger
	 name: Cookie
	 owner: Ahmed
	 weight: 250
	 eats: Steak
nHere's what I know about Ali:
	 animal type: Alligator
	 name: Ali
	 owner: Hasbulla
	 weight: 450
	 eats: Whole Chicken